* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Option 2: Import via CSS */


/* root variables */
:root {
    --primary-color: #0B0C10;
    --section-color: #1F2833;
    --text-light: #C5C6C7;
    --text-white: #ffffffff;
    --color-1: #66FCF1;
    --color-2: #45A29E;


    --circle: 50%;
}



/* reused styled */
a,
span,
input,
button,
textarea {
    display: inline-block;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn-hover:hover{
    background-color: var(--color-2);
    border: 1px solid var(--color-2);
}
.btn-active:active{
    background-color: var(--text-white);
    border: 1px solid var(--text-white);
}
.btn-link:hover{
    color:var(--color-2)
}
.btn-link:active{
    color: var(--text-white);
}


/* navigation bar */

nav{
    display: flex;
    justify-content: end;
    background-color: var(--primary-color);
    height: 50px;
}

/* menu button */
.btn-menu {
    width:35px;
    margin-right: 5px;
    gap:5px;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    background-color: transparent;
    border:none;
    cursor: pointer;
}
.btn-menu .line{
    width:100%;
    height: 3px;
    background-color: var(--color-1);
    animation:grow 0.7s infinite linear alternate;
}

.btn-menu:hover .line{
background-color: var(--color-2);
}
.btn-menu:active .line{
background-color: var(--text-white);
}

.btn-menu .line-2{
 animation-delay: 200ms;
}
.btn-menu .line-3{
 animation-delay: 300ms;
}
@keyframes grow {
    from{
        width:0;
    }to{
        width:100%;
    }
}

/* navigation bar for smaller screens */

nav .container {
    border:1px solid transparent;
    background-color: var(--section-color);
    height:100vh;
    position: absolute;
    z-index:5;
    top:0;
    left:-100%;
    width:min(80%,500px);
    transition: 400ms linear;
}


[data-sidebar-active]{
    left:0 !important;
}

.nav-bar{
    display: flex;
    flex-flow: column nowrap;
    list-style: none;

    width:100%;
    height: 80%;
    padding:2rem 1rem 0 1rem;

    gap:30px;
}
.nav-link{
    position: relative;
    width:100%;
    font-size:1.6rem;
    color: var(--color-1);
    border-bottom: 1px solid var(--text-light);
    overflow: hidden;
}

.btn-close{
    position: absolute;
    right:1rem;
    top:1rem;
    border: none;
    width:30px;
    height:30px;
    background-color: transparent;
    cursor: pointer;
    
}

.btn-close img{
    background-color: var(--color-1);
    width:100%;
    height: 100%;
    border: 1px solid var(--color-1);
    border-radius: var(--circle);
}

