
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:roboto ,sans-serif;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}
/* 
.project-img {
    max-height: 80vh; 
}*/

.contributor-name {
    animation: change-color 1s infinite alternate linear;
}

@keyframes change-color {
    from {
        color: black;
    }

    to {
        color: white;
    }
}



/* .project-img-btn {
    width: 10rem;
    height: 10rem;
} */

.project-img-btn .project-hover {
    transition: transform 300ms;
    transform: scale(0);
}

.project-img-btn:hover .project-hover {
    transform: scale(1);
}

.project-img-btn .project-img {
    object-fit: cover;
    object-position: center;
}

.hero .img-holder img{
    height: 50vh;
    width:50vh;
    object-fit: cover;
    object-position: center right;
}